<form action="/" method="post">
  <h1>Please enter your move</h1>
  <input type="radio" name="player_choice" value="rock">rock
  <br>
  <input type="radio" name="player_choice" value="paper">paper
  <br>
  <input type="radio" name="player_choice" value="scissors">scissors
  <br>
  <input type="submit" value="Play!">
</form>
