<h1>Welcome to Rock-Paper-Scissors-Lizard-Spock</h1>
<p>Choose wisely!</p>

<form action="play" method="post">
  <input type="radio" name="choice" value="rock">Rock
  <input type="radio" name="choice" value="paper">Paper
  <input type="radio" name="choice" value="scissors">Scissors
  <input type="radio" name="choice" value="lizard">Lizard
  <input type="radio" name="choice" value="spock">Spock
  <p>
    <input type="submit" value="Did I Win?">
  </p>
</form>