<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's play Rock Paper Scissors!</title>
</head>
<body>
  <h1>Let's play Rock Paper Scissors!</h1>
  <p>Choose your move:</p>
  <form action="/rps" method="post">
    <input type="radio" name="move" value="rock" checked>Rock
    <input type="radio" name="move" value="paper">Paper
    <input type="radio" name="move" value="scissors">Scissors
    <input type="submit" value="Make your move!">
  </form>
</body>
</html>
