
<h1>Play the rock scissors with computer</h1>
<br>
<h1>Choose your action:</h1>
<form action="rps_choose" method="post">
  <input type="radio" name="decision" value="rock" checked>Rock<br>
  <input type="radio" name="decision" value="paper">Paper<br>
  <input type="radio" name="decision" value="scissors">Scissors<br>
  <input type="submit" value="Submit!">
</form>