<DOCTYPE! html>
<html>
  <h1>Welcome to Rock, Paper, Scissors</h1>
  <form action = "game" method = "post" >
    Enter Your Move:
    <br>
    <input type = "radio" name = "move" value = "Rock"><label for = "Rock">ROCK</label>
    <br>
    <input type = "radio" name = "move" value = "Paper"><label for = "Paper">PAPER</label>
    <br>
    <input type = "radio" name = "move" value = "Scissors"><label for = "Scissors">SCISSORS</label>
    <br>
    <input type = "submit" value = "Go!">
  </form>
</html>
