<h1>And the winner is...</h1>
<h2><%= winner %></h2>
<p>The computer chose <%= WEAPONS_LIB["#{computer}"] %> and you chose <%= WEAPONS_LIB["#{human}"] %>.</p>

<p><a href="/" target="" alt="home" title="home">Play Again</a></p>