<!DOCTYPE html>
<html>
  <h1><%= the_winner %></h1>
  <p>Your selection was: <%= user %></p>
  <p>The Computer's selection was: <%= comp %></p>
  <form action = "play_again" method = "post">
    <input type = "submit" value = "Play Again?">
  </form>
</html>
