
<h1>Take an opportunity and ask your boss something</h1>
<br>
<form action="angry_boss" method="post">
  <input type="text" name="question" >
  <input type="submit" value="Send him question!">
</form>