# views/angry_boss_form.erb

<h1>Angry Boss</h1>
<form action = "angry_boss_form" method = "post"
  <h2><em>Input your message: </em></h2>
  <input type = "text" name = "message">
  <input type = "submit" value = "Submit!">
</form>

