<!-- views/boss_form.erb -->
<h1>Enter your message!</h1>
<form action= "show_message" method= "post" >
  Your Message: 
  <input type= "text" name= "msg" >
  <input type= "submit" value= "Submit!" >
</form>