<form action="boss_form" method="post">
  <label for="boss">What do you say to your boss?</label>
  <input id="boss" type="text" name="user_input">
  <input type = "submit" value = "Submit!" >
</form>