<h1>Say hi to your boss</h1>
<form action = "boss" method = "post">
  <input type = "text" name = "say">
  <input type = "submit" value = "submit">
</form>

<div>
  <h1><%= boss_response %></h1>
</div> 