<form action = "boss" method = "post">
  Your Message:
  <input type = "text" name = "input">
  <input type = "submit" value = "Submit!">
  <% if input%>
  <%= "WHAT DO YOU MEAN, '#{input}'???? YOU'RE FIRED!!"%>
  <% end %>
</form>
