<!DOCTYPE html>
<html>
    <body>
        <form action="/rpsgame" method = "post">
          <input type="radio" name="choice" value= "1"> Rock<br>
          <input type="radio" name="choice" value= "2" > Paper<br>
          <input type="radio" name="choice" value= "3" > Scissor<br>
          <input type="submit" value="Play">
        </form>
        <p>Make your choice</p>
    </body>
</html>