<h1>Yet Another Rock, Paper, Scissors Game</h1>

<form action="result" method="post">
  <input type="radio" name="move" value="rock"> Rock<br>
  <input type="radio" name="move" value="paper"> Paper<br>
  <input type="radio" name="move" value="scissors"> Scissors<br>
  <input type="submit" value="Submit!">
</form>
