<form action="rock_paper_scissors" method="post">
  <input type="radio" name="rps" value="Rock"> Rock
  <input type="radio" name="rps" value="Paper"> Paper
  <input type="radio" name="rps" value="Scissors"> Scissors
  <input type="submit" name="Ro-cham-bo!">
</form>