<h1>Hello Sinatra!</h1>
<p>Choose a mini app to run:</p>
<div>
<a href="/angry-boss" title="Angry Boss">Angry Boss</a>
<a href="/rock-paper-scissors" title="Rock Paper Scissors">Rock Paper Scissors</a>
</div>