<h1> Welcome to Rock, Paper, Scissors</h1>
<form action="/rps" method="post">
  <input type="radio" name="play" value="rock">rock</input>
  <input type="radio" name="play" value="paper">paper</input>
  <input type="radio" name="play" value="scissors">scissors</input>
  <input type="submit" value="Submit"/>
</form>
