<html>
      <form action="/bosstalk" method="post">
        <input type="text" name="give_message" placeholder="what you wanna say?">
        <input type="submit" value = "talk to the boss">
      </form>
</html>