<h1>Enter your Choice!</h1>
<form action = "show_result" method = "post" >
  Your Choice:<br>
  <input type="radio" name="choice" value="1" checked> Rock<br>
  <input type="radio" name="choice" value="2"> Paper<br>
  <input type="radio" name="choice" value="3"> Scissor<br>
  <input type = "submit" value = "Submit!" >
</form>