<h1>Play against the computer!</h1>
<h2>What is your choice?</h2>
<form action="rps" method="post">
  <input type="radio" name="move" value="rock"> Rock<br>
  <input type="radio" name="move" value="paper"> Paper<br>
  <input type="radio" name="move" value="scissors"> Scissors<br>
  <input type="submit" value="Play!">
</form>
