<h1> Make your move </h1>

<form method = "post">

  <label for = "rock">Rock</label>
  <input type = "radio" name = "move" value = "rock">

  <label for = "paper">Paper</label>
  <input type = "radio" name = "move" value = "paper">

  <label for = "scissors">Scissors</label>
  <input type = "radio" name = "move" value = "scissors">

  <input type = "submit" value = "Submit">
  
</form>