<% ai = ['rock', 'paper', 'scissor'].sample %>
<% if win? ai, choice %>
    <h1>You win! Mother fucker!</h1>
<% elsif lose? ai, choice %>
    <h1>You lose! Mother fucker!</h1>
<% else %>
    <h1>It's even, mother fucker!</h1>
<% end %>
