<form action="/rps" method="post">
  <input type="radio" name="choice" value="1">Rock<br>
  <input type="radio" name="choice" value="2">Paper<br>
  <input type="radio" name="choice" value="3">Scissors<br>
  <input type="submit" value="play">
</form>

<% if result %>
  <p><%=result%></p>
<% end %>