<html>
  
  <center>
  <h1>Play Rock, Paper, Scissor Against a Computer</h1>
  <form action="/rpscheck" method="post">
    <p><input type="radio" name="choice" value="1">Rock</p>
    <p><input type="radio" name="choice" value="2">Paper</p>
    <p><input type="radio" name="choice" value="3">Scissor</p>
    <p><input type="submit" value="GO!"></p>
  </form>
  </center>

</html>