<form action="rock_paper_scissors" method="post">
  <input type="radio" name="rps" value="r"> Rock
  <input type="radio" name="rps" value="p"> Paper
  <input type="radio" name="rps" value="s"> Scissors
  <input type="submit" name="Ro-cham-bo!">
</form>