

<h1>Rock, Paper, or Scissors?</h1>
<form action = "" method = "post" >
  Your Name:
  <input type = "radio" name = "hand" value = "rock" >Rock
    <input type = "radio" name = "hand" value = "paper" >Paper
      <input type = "radio" name = "hand" value = "scissors" >Scissors
  <input type = "submit" value = "Submit!" >
</form>
