<h2>Rock, Paper, Scissors, Shoot!</h2>
<form action='main' method='post'>
  <input type='radio' name='user' value='rock'>Rock<br>
  <input type='radio' name='user' value='paper'>Paper<br>
  <input type='radio' name='user' value='scissors'>Scissors<br>
  <input type='submit' value='Submit'>
</form>