<h1>What's your move?</h1>
<form action = "rps" method = "post" >
  <input type = "radio" name = "player_move" value = "r" >Rock
  <input type = "radio" name = "player_move" value = "p" >Paper
  <input type = "radio" name = "player_move" value = "s" >Scissors
  <input type = "submit" value = "Make my move!" >
</form>