<h1>Rock, Paper, Scissors</h1>

<form action="/rockpaperscissors" method="post">
  <input type="radio" name="rock">
  <input type="radio" name="paper">
  <input type="radio" name="scissors">
  <input type="submit" value="move">
</form>

<%= outcome %>