<h1>Rock, Paper, Scissors!</h1>
<form action="rps" method="post">
  1, 2, 3...</br>
  <input type="radio" name="rps" value="rock">Rock</br>
  <input type="radio" name="rps" value="paper">Paper</br>
  <input type="radio" name="rps" value="scissors">Scissors</br>
  <input type="submit" value="Submit!">
</form>
