<h1>Welcome to Rock Paper Scissors</h1>
<h2>Please choose between Rock, Paper, and Scissors:</h2>

<form action = "rps" method = "post">
  <input type="radio" name = "choice" value = "rock">Rock
  <input type="radio" name = "choice" value = "paper">Paper
  <input type="radio" name = "choice" value = "scissors">Scissors
  <input type="submit" name = "Submit">
</form>
