<h1>Rock, Paper, Scissors</h1>

<p>What are you gonna throw?</p>

<form action="/rock_paper_scissors" method="post">
  <input type="radio" name="player-input" value="rock" checked>Rock
  <br>
  <input type="radio" name="player-input" value="paper">Paper
  <br>
  <input type="radio" name="player-input" value="scissors">Scissors
  <br>
  <input type="submit" value="Play!">
</form>