<h1>Rock, Paper, Scissors</h1>

<h3>Game result:</h3>

<p>You threw <%= result[0] %>...<br>Computer threw <%= result[1] %>...</p>

<% if result[2] == "draw" %>
  <p><strong>It's a draw!</strong></p>
<% elsif result[2] == "player" %>
  <p><strong>You win!</strong></p>
<% else %>
  <p><strong>You lose!</strong></p>
<% end %>

<form action="/rock_paper_scissors" method="get">
  <input type="submit" value="Play again!">
</form>