<h1>Rock Paper Scissors</h1>

<form action= "/result" method= "post">
	<input type= "radio" name= "player_choice" value="1">rock
	<input type= "radio" name= "player_choice" value="2">paper
	<input type= "radio" name= "player_choice" value="3">scissors
	<input type = "submit" value = "Submit">
</form>