<!doctype html>
<html>
  <head>
    <title>Rock Paper Scissors in Sinatra</title>
  </head>
  <body>
    <%= yield %>
    <em>The preceding view provided by your friends in the Rat Pack.</em>
  </body>
</html>