<h1>Rock, Paper, or Scissors?</h1>
<form action="rps" method="post">
  Your Choice:
  <br>
  <input type="radio" name="choice" value="rock" checked> Rock<br>
  <input type="radio" name="choice" value="paper"> Paper<br>
  <input type="radio" name="choice" value="scissor"> Scissor<br>
  <input type="submit" value="Submit!">
</form>