<h1>Rock Paper Scissors</h1>
<form action="move" method="post">
  <input type="radio" name="rps" value="ROCK"> Rock<br>
  <input type="radio" name="rps" value="PAPER"> Paper<br>
  <input type="radio" name="rps" value="SCISSORS"> Scissors<br>
  <input type ="submit" value = "Submit!">
</form>