<h1>You played <%= player_move %> and computer played <%= cm = computer_move %>.</h1>
<h1><%= who_won?(player_move, cm) %> won!</h1>

<form action = "rps" method = "get" >
  <input type = "submit" value = "Play again!" >
</form>
