<!-- Shows RPS game -->

<html>
  <h3>Welcome to Rock Paper Scissors</h3>
  <form action="/play_rps" method="post">
    <input type = "text" name = "player_input" placeholder = "Enter 'r', 'p', or 's' to play" size = "50" height = "20px">
    <input type = "submit" value = "Play!">
  </form>
</html>