<!-- Shows RPS game -->

<html>
  <h3>Welcome to Rock Paper Scissors</h3>
  <form action="/play_rps" method="post">
    <input type = "radio" name = "player_input" value = "r"> Rock 
    <br>
    <input type = "radio" name = "player_input" value = "p"> Paper
    <br>
    <input type = "radio" name = "player_input" value = "s"> Scissors
    <br><br>
    <input type = "submit" value = "Play!">
  </form>
</html>