<form action="results" method="post">
	<label for="move">Choose a move:</label>
	<input type="radio" name="move" value="1">Rock</input>
	<input type="radio" name="move" value="2">Paper</input>
	<input type="radio" name="move" value="3">Scissors</input>
	<button type="submit">Submit</button>
</form>