<h1>It's Rock Paper Scissors!</h1>
<form action="results" method="post">
	<label for="move">Choose a move:</label>
	<input type="radio" name="move" value="0">Rock</input>
	<input type="radio" name="move" value="1">Paper</input>
	<input type="radio" name="move" value="2">Scissors</input>
	<button type="submit">Submit</button>
</form>