<!-- views/user_choice_form.erb -->
<h1>Make your choice</h1>
<form action= "game_result" method= "post" >
  Options: 
  <br>
  <input type= "radio" name="option" value="Rock"> Rock<br>
  <input type= "radio" name="option" value="Paper"> Paper<br>
  <input type= "radio" name="option" value="Scissors"> Scissors<br>
  <input type= "submit" value= "Submit!" >
</form>


