
<form action="/game" method="post">
  <input type="radio" value="Rock" name="choice">Rock
  <input type="radio" value="Paper" name="choice">Paper
  <input type="radio" value="Scissors" name="choice">Scissors
  <input type="submit">
</form>
