<h1> Roshambo </h1>
<img src="http://i.imgur.com/qbHME84.png" alt = "banner"> 

<h1>What's your move bruh? </h1>
<form action="choice" method = "post">
<input type="radio" name="option" value="rock">   
  Roche
<input type="radio" name="option" value="paper"> Papier
<input type="radio" name="option" value="scissors"> Les Ciseaux

<br>

<input type = "submit" value="Play!">


</form>