<form action="/result" method="post">
  Rock <input type="radio" name="hand" value="rock"> 
  <br>
  Paper <input type="radio" name="hand" value="paper">
  <br>
  Scissors <input type="radio" name="hand" value="scissors">
  <br>
  <input type="submit" value="GO!">
</form>