<form action="/results" method="post">
  <input type="radio" value="Rock" name="move">
  <input type="radio" value="Paper" name="move">
  <input type="radio" value="Scissors" name="move">
  <input type="submit" value="Play!">
</form>
