<h1>Welcome to the wonderful world of RPS!</h1><br>
<h2>The most fun on the web!</h2>

<form action="/play" method="post">
  <input type="radio" name="selection" value="rock"> Rock<br>
  <input type="radio" name="selection" value="paper"> Paper<br>
  <input type="radio" name="selection" value="scissors"> Scissors
  <input type="submit" value="Play!">
</form>