<h1>Please choose your move.</h1>
<form action= "result" method= "post">
  <input type="radio" name="move" value="rock">Rock
  <input type="radio" name="move" value="paper">Paper
  <input type="radio" name="move" value="scissors">Scissors
  <input type="submit" value="Submit!">
</form>
