<h1>Rock, paper scissors...</h1>

<form action="results" method="post">
  <input type="radio" name="choice" value="rock">Rock<br>
  <input type="radio" name="choice" value="paper">Paper<br>
  <input type="radio" name="choice" value="scissors">Scissors<br><br>
  <input type="submit" value="Submit!">
</form>