<! views/rps_form >
<h1>You must choose, but choose wisely...</h1>
<!-- <form action="rps_form" method="post">
  <input type="radio" name="p_choice" value="0"> Rock<br>
  <input type="radio" name="p_choice" value="1"> Paper<br>
  <input type="radio" name="p_choice" value="2"> Scissors<br>
  <input type="submit" value="Shoot!"
</form> -->

<form action = "rps_form" method="post">
  Your words:
  <input type = "text" name = "words" >
  <input type = "submit" value = "Submit!" >
</form>
