<!# views/boss_form/>
<h1>Your boss is coming - quick, say something!</h1>
<form action = "boss_form" method="post">
  Your words:
  <input type = "text" name = "words" >
  <input type = "submit" value = "Submit!" >
</form>
