<DOCTYPE! html>
<html>
  <h1>Please input a message</h1>
  <form action = "/boss" method = "post" >
    Your Message Here:
    <input type = "text" name = "message" >
    <input type = "submit" value = "Enter!" >
  </form>
</html>
