<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tell Your Boss!</title>
</head>
<body>
  <h1>What do you want to tell your boss?</h1>
  <form action="/boss" method="post">
    Have your say:
    <input type="text" name="say">
    <input type="submit" value = "Say it!">
  </form>
</body>
</html>
